/* * {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header__nav {
    display: flex;
    background-color: #fff0ed;
    list-style-type: none;
    padding-top: 1.75rem;
    padding-bottom: 2rem;
    padding-left: 0.5rem;
    text-decoration: none;
    font-size: 1.3rem;
    align-items: center;
}

.header__nav--logo {
    font-size: 3.3rem;
    font-weight: 300;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #393939;
    align-items: center;
}

.header__nav-cta {
    font-size: 1.3rem;
    align-content: center;
    color: #393939;
    justify-content: space-between;
    margin-right: 1rem;
    margin-left: 1rem;
}

.header__nav-cta--color {
    font-size: 1.3rem;
    align-content: center;
    color: #5BACC3;
    margin-right: 1rem;
    margin-left: 1rem;
}
*/

.hero {
    background-color: #fff0ed;
    padding-bottom: 7rem;
    display: flex;
}

.hero__info {
    align-items: flex-start;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    text-align:left;
    width: 50%
}


.hero__title {
    font-size: 3.75rem;
    display: flex;
    font-weight: 300;
    color: #393939;
    max-width: 25rem;
    margin-bottom: 2rem;
}

.hero__copy {
    font-size: 1.125rem;
    max-width: 25rem;
    display: flex;
    color: #393939;
    margin-bottom: 2rem;
}

.hero__button {
    border: none;
    background-color: #5bacc3;
    color: #fff;
    padding: 1rem;
    font-size: 1.3rem;
    max-width: 25rem;
    position: relative;
}

.hero__button-border {

}

.hero__image-block {
    display: flex;
    justify-content: center;
    width: 50%;
    
}   

.products {
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
}

.products__heading {
    text-align: center;
    color: #393939;
    padding-top: 3rem;
    padding-bottom: 3rem;
    font-size: 3.75rem;
    font-weight: 300;
}

.products__button {
    box-shadow: 0 5px 9px -1px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    vertical-align: middle;
    display: inline-flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    margin: 0 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
    border-radius: 2%;
}

.products__view {
    background-color: #5bacc3;
    font-size: 1.3rem;
    color: #fff;
    align-items: middle;
    vertical-align: middle;
    display: inline-block;
    padding: 1rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    border: none;
}

.products__name {
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    padding-top: 2rem;
}

.products__description {

}

.products__price {
    text-align: center;
    color: #5bacc3;
    padding-top: 1rem;
}

.about {
    display: flex;
    justify-content: center;
    
}

.about__info {
    display: flex;
    width: 50%;
    flex-direction: column;
    margin: 0 auto;
    max-width: 30rem;
    justify-content: center;
}

.about__header {

}

.about__copy {

}

.about__icon-row {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.about__icon {
    max-height: 5rem;
}

.about__button {
    display: flex;
    align-items: flex-end;
}

.about__image {
    width: 50%;
    display: flex;
}

.about__image-container {
    position: relative;
    background-color: #fff0ed
}

.about__image-background {
    
}

.about__image-layer1 {
    max-width: 25rem
}

.about__image-layer2 {
}

.discount {
    margin: 4rem;
    display: flex;
    justify-content: center;
    align-self: center;

}

.discount__button {
    display: flex;
    background-color: #393939;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    padding: 2rem;
}

.discount__copy {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.8125rem;
    font-weight: 300;
    
}

.discount__code {
    font-weight: 700;
    font-size: 2.8125rem;
}

.footer {
    flex-direction: row;
    vertical-align: middle;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    background-color: #fff0ed;
    width: 100%;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.footer__block {
    align-items: center;
    flex-direction: column;
    vertical-align: middle;
    display: flex;
    flex: 1;
}

.footer__heading {
    font-size: 2rem;
    display: flex;
    font-weight: 300;
    color: #393939;
    margin-bottom: 1.25rem;
}

.foot__copy {
    color: #393939;
    font-size: 1.125rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.footer__image {
    height: 3rem;
    cursor: pointer;
}
