* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

a:link {
    text-decoration: none;
    padding-right: 1em;
}

ul {
    text-align: center;
    align-content: center;
}

.header__nav {
    display: inline-block;
    width: 100%;
    background-color: #fff0ed;
    padding-top: 1.75rem;
    padding-bottom: 2rem;
    padding-left: 0.5rem;
    vertical-align: middle;
    text-decoration: none;
    font-size: 1.3rem;
}

.header__logo {
    font-size: 3.3rem;
    font-weight: 300;
    padding-left: 1rem;
    color: #393939;
}

.header__nav--cta {
    font-size: 1.3rem;
    color: #393939;
}

.header__nav--color {
    color: #5BACC3;
}

.hero {
    background-image: url("../assets/images/coffee-circle.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    height: 50rem;
    margin-top: 0;
}

.hero__box {
    background-color: #393939;
    color: white;
    width: 18.75rem;
    height: 12.5rem;
    font-size: 3.75rem;
    font-weight: 300;
    margin-left: 40%;
    margin-top: 0;
}

.nav {
    background-color: #393939;
    text-align: center;
    height: 5rem;
    line-height: 4.5rem;
}

.nav__link {
    color: #fff;
    font-size: 1.3rem;
    font-weight: 400;
    padding: 0 1rem;
    position: absolute;
    display: inline-block;
    text-decoration: none;
    vertical-align: middle;
}

.nav__link--hot, .nav__link--cold, .nav__link--pastries {
    width: calc(100% / 3);
}

.nav__link--hot {
    color: #fff;
    border-left: #5BACC3 solid 0.33rem;
    padding-left: 1rem;
}

.nav__link--cold {
    color: #fff;
    border-left: #5BACC3 solid 0.33rem;
    padding-left: 1rem;
}

.nav__link--pastries {
    color: #fff;
    border-left: #5BACC3 solid 0.33rem;
    padding-left: 1rem;
}

.card--hot {
    background-color: #fff0ed;
    text-align: center;
    color: #393939;
    padding-bottom: 5rem;
}

.card--cold {
    background-color: #f7f7f7;
    text-align: center;
    color: #393939;
    padding-bottom: 5rem;
}

.card--pastries {
    background-color: #fff0ed;
    text-align: center;
    color: #393939;
    padding-bottom: 5rem;
}
.card__header {
    font-size: 3.75rem;
    font-weight: 300;
    margin-top: 0;
    padding-top: 1rem;
}

.card__item {
    font-size: 2rem;
    font-weight: 300;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.card__copy {
    box-sizing: border-box;
    font-style: italic;
    font-weight: 300;
    font-size: 1.125rem;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 2rem;
    
}

.card__price {
    color: #5BACC3;
    margin-bottom: 0;
    padding-bottom: 0;
}