* {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a:link {
  text-decoration: none;
  padding-right: 1em;
}

.header {
  display: flex;
  background-color: #fff0ed;
  align-items: center;
  justify-content: space-between;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__nav {
  list-style-type: none;
  gap: 1rem;
  text-decoration: none;
  font-size: 1.3rem;
  align-items: center;
  text-align: center;
  display: flex;
  padding-right: 1.25rem;
}

.header__nav--image {
  margin-left: 1rem;
}

.header__nav--logo {
  font-size: 3.3rem;
  font-weight: 300;
  padding: 1rem;
  color: #393939;
  align-items: center;
  display: flex;
}

.header__nav-cta {
  font-size: 1.3rem;
  align-content: center;
  color: #393939;
  justify-content: space-between;
  margin-right: 1rem;
  margin-left: 1rem;
  display: flex;
}

.header__nav-cta--color {
  font-size: 1.3rem;
  align-content: center;
  color: #5bacc3;
  margin-right: 1rem;
  margin-left: 1rem;
}

button:hover {
  cursor: pointer;
}

li:hover {
  cursor: pointer;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes graphite-blue-background {
  0% {
    background-color: #393939;
  }
  50% {
    background-color: #5bacc3;
  }
  100% {
    background-color: #393939;
  }
}
.hero {
  background-color: #fff0ed;
  padding-bottom: 7rem;
  display: flex;
}

.hero__info {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  width: 50%;
  margin: 10%;
}

.hero__title {
  font-size: 3.75rem;
  display: flex;
  font-weight: 300;
  color: #393939;
  max-width: 25rem;
  margin-bottom: 2rem;
}

.hero__copy {
  font-size: 1.125rem;
  max-width: 25rem;
  display: flex;
  color: #393939;
  margin-bottom: 2rem;
}

.hero__button-wrapper {
  position: relative;
  display: flex;
}

.hero__button-border {
  display: flex;
  border: 2px solid black;
  position: absolute;
}

.hero__button-cta {
  background-color: #5bacc3;
  font-size: 1.3rem;
  color: #fff;
  width: 11.25rem;
  padding: 1rem;
  margin: 0;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  top: 5px;
  left: 5px;
}

.hero__image-block {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.products {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}

.products__heading {
  text-align: center;
  color: #393939;
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-size: 3.75rem;
  font-weight: 300;
}

.products__lineup {
  display: flex;
  margin: 0;
  justify-content: space-evenly;
}

.products__button {
  box-shadow: 0 5px 9px -1px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  vertical-align: middle;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 3rem;
  border-radius: 5%;
}
.products__button__image {
  justify-content: center;
}

.products__image {
  align-items: center;
  height: 65%;
  min-width: 50%;
  margin: 0;
  padding: 2rem;
}

.products__info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff0ed;
}

.products__name-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 1.5rem;
}

.products__name {
  display: flex;
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  height: 35%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: left;
}

.products__description {
  color: #909090;
  display: flex;
  align-items: flex-start;
}

.products__price-container {
  background-color: #fff0ed;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.products__price-copy {
  text-align: center;
  color: #5bacc3;
  font-size: 1.75rem;
  font-weight: 700;
}

.products__view-container {
  display: flex;
  justify-content: center;
}

.products__view-button {
  background-color: #5bacc3;
  font-size: 1.3rem;
  color: #fff;
  width: 11.25rem;
  padding: 1rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  border: none;
  display: flex;
  justify-content: center;
}

.about {
  display: flex;
  justify-content: center;
}

.about__info {
  display: flex;
  width: 50%;
  flex-direction: column;
  margin: 0 auto;
  max-width: 30rem;
  justify-content: center;
  margin: 10%;
  gap: 2rem;
}

.about__header {
  font-size: 3.75rem;
  font-weight: 300;
}

.about__header-copy {
  font-size: 3.75rem;
  font-weight: 300;
}

.about__copy {
  font-size: 1.125rem;
  font-weight: 400;
}

.about__icon-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about__icon {
  max-width: 4rem;
}

.about__button {
  border: none;
  background-color: #5bacc3;
  color: #fff;
  padding: 1.25rem;
  font-size: 1.3rem;
  width: 11.25rem;
  position: relative;
  z-index: -1;
}

.about__image {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__image-container {
  position: absolute;
  border: #5bacc3 solid 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__image-background {
  display: flex;
  position: relative;
  top: 20px;
  left: 20px;
  z-index: -1;
}

.about__image-layer1 {
  max-width: 25rem;
  display: flex;
  position: relative;
}

.about__image-layer2 {
  display: flex;
  position: absolute;
}

.about__image-layer2:hover {
  animation: spin 2s infinite;
}

.discount {
  margin: 4rem;
  display: flex;
  justify-content: center;
  align-self: center;
}

.discount__button {
  display: flex;
  background-color: #393939;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  padding: 2rem;
  animation: graphite-blue-background 2.5s infinite;
  border: none;
}

.discount__copy {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.8125rem;
  font-weight: 300;
}

.discount__code {
  font-weight: 700;
  font-size: 2.8125rem;
}

.footer {
  justify-content: space-between;
  display: flex;
  background-color: #fff0ed;
  width: 100%;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.footer__block {
  vertical-align: middle;
  display: flex;
  overflow: clip;
  width: 100%;
  position: relative;
}
.footer__block--right {
  opacity: 25%;
  width: 7.5rem;
  left: -3vw;
  position: absolute;
}
.footer__block--left {
  opacity: 25%;
  width: 7.5rem;
  right: -3vw;
  position: absolute;
}

.footer__heading {
  font-size: 2rem;
  display: flex;
  font-weight: 300;
  color: #393939;
  margin-bottom: 1.25rem;
}

.foot__copy {
  color: #393939;
  font-size: 1.125rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.footer__image {
  height: 3rem;
  cursor: pointer;
}/*# sourceMappingURL=landing.css.map */