@use "./partials/global.scss" as *;
@use "./partials/variables" as *;
@use "./partials/mixins" as *;
@use "./partials/animations" as *;

.hero {
  background-color: $pink;
  padding-bottom: 7rem;
  display: flex;
}

.hero__info {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  width: 50%;
  margin: 10%;
}

.hero__title {
  font-size: 3.75rem;
  display: flex;
  font-weight: 300;
  color: $graphite;
  max-width: 25rem;
  margin-bottom: 2rem;
}

.hero__copy {
  font-size: 1.125rem;
  max-width: 25rem;
  display: flex;
  color: $graphite;
  margin-bottom: 2rem;
}

.hero__button-border {
  display: flex;
  border: 2px solid black;
  position: absolute;
}

.hero__button-cta {
  background-color: $blue;
  font-size: 1.3rem;
  color: $white;
  width: 11.25rem;
  padding: 1rem;
  margin: 0;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  top: 5px;
  left: 5px;

  &:hover {
    transform: translate(-5px, -5px);
    border: none;
  }
}

.hero__image-block {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.products {
  background-color: $light-grey;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

.products__heading {
  text-align: center;
  color: $graphite;
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-size: 3.75rem;
  font-weight: 300;
}

.products__lineup {
  display: flex;
  margin: 0;
  justify-content: space-evenly;
}

.products__button {
  box-shadow: 0 5px 9px -1px rgba(0, 0, 0, 0.25);
  background-color: $white;
  vertical-align: middle;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 3rem;
  border-radius: 5%;

  &__image {
    justify-content: center;
  }
}

.products__image {
  align-items: center;
  height: 65%;
  min-width: 50%;
  margin: 0;
  padding: 2rem;
}

.products__info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: $pink;
}

.products__name-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 1.5rem;
}

.products__name {
  display: flex;
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  height: 35%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: left;
}

.products__description {
  color: $grey;
  display: flex;
  align-items: flex-start;
}

.products__price-container {
  background-color: $pink;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.products__price-copy {
  text-align: center;
  color: $blue;
  font-size: 1.75rem;
  font-weight: 700;
}

.products__view {
    display: flex;
    justify-content: center;
    align-items: center;
}

.products__view-container {
  display: flex;
  justify-content: center;
  border: 2px solid black;
  margin-top: 5rem;
  margin-bottom: 5rem;
  position: relative;
}

.products__view-button {
  background-color: $blue;
  font-size: 1.3rem;
  color: #fff;
  width: 11.25rem;
  padding: 1rem;
  margin: 0;
  display: flex;
  justify-content: center;
  border: none;
  position: relative;
  top: 5px;
  left: 5px;

  &:hover {
    transform: translate(-5px, -5px);
  }
}

.about {
  display: flex;
  justify-content: center;
}

.about__info {
  display: flex;
  width: 50%;
  flex-direction: column;
  margin: 0 auto;
  max-width: 30rem;
  justify-content: center;
  margin: 10%;
  gap: 2rem;
}

.about__header {
  font-size: 3.75rem;
  font-weight: 300;
}

.about__header-copy {
  font-size: 3.75rem;
  font-weight: 300;
}

.about__copy {
  font-size: 1.125rem;
  font-weight: 400;
}

.about__icon-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about__icon {
  max-width: 4rem;
}

.about__button-container {
  display: flex;
  border: 2px solid black;
  width: 11.25rem;
}

.about__button {
    background-color: $blue;
    font-size: 1.3rem;
    color: #fff;
    width: 11.25rem;
    padding: 1rem;
    margin: 0;
    display: flex;
    justify-content: center;
    border: none;
    position: relative;
    top: 5px;
    left: 5px;
  
    &:hover {
      transform: translate(-5px, -5px);
    }
  }

.about__image {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__image-container {
  position: absolute;
  border: #5bacc3 solid 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__image-background {
  display: flex;
  position: relative;
  top: 20px;
  left: 20px;
  z-index: -1;
}

.about__image-layer1 {
  max-width: 25rem;
  display: flex;
  position: relative;
}

.about__image-layer2 {
  display: flex;
  position: absolute;
}

.about__image-layer2:hover {
  animation: spin 2s infinite;
}

.discount {
  margin: 4rem;
  display: flex;
  justify-content: center;
  align-self: center;
}

.discount__button {
  display: flex;
  background-color: $graphite;
  color: $white;
  text-align: center;
  vertical-align: middle;
  padding: 2rem;
  animation: graphite-blue-background 2.5s infinite;
  border: none;
}

.discount__copy {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.8125rem;
  font-weight: 300;
}

.discount__code {
  font-weight: 700;
  font-size: 2.8125rem;
}

.footer {
  justify-content: space-between;
  display: flex;
  background-color: $pink;
  width: 100%;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.footer__block {
  vertical-align: middle;
  display: flex;
  overflow: clip;
  width: 100%;
  position: relative;

  &--right {
    opacity: 25%;
    width: 7.5rem;
    left: -3vw;
    position: absolute;
  }

  &--left {
    opacity: 25%;
    width: 7.5rem;
    right: -3vw;
    position: absolute;
  }
}

.footer__heading {
  font-size: 2rem;
  display: flex;
  font-weight: 300;
  color: $graphite;
  margin-bottom: 1.25rem;
}

.foot__copy {
  color: $graphite;
  font-size: 1.125rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.footer__image {
  height: 3rem;
  cursor: pointer;
}
